httpd.pid
httpd_error_log
__pycache__/
cypress/plugins
cypress/support
cypress/videos

# Ignore compiled files
bin/newtonraphson.exe
src/py/newtonraphsonpy.*.so
apache2/cgi-bin/newtonraphson
bin/calculatepi.exe
src/py/calculatepipy.*.so
apache2/cgi-bin/calculatepi

# Ignore entangled db
.entangled/db.sqlite

# other ignores
node_modules
