# this yaml snippet is stored as src/py/openapi.yaml
openapi: 3.0.0
info:
  title: Root finder
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.1.0
paths:
  /api/calculatepi:
    post:
      description: Calculate PI using random numbers      operationId: api.calculate
      requestBody:
        content:
          'application/json':
            schema:
              $ref: '#/components/schemas/NRRequest'
            example:
              niter: 500000000
      responses:
        '200':
          description: PI calculated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NRResponse'
components:
  schemas:
    NRRequest:
      type: object
      properties:
        niter:
          type: number
          minimum: 0
      required:
        - niter
      additionalProperties: false
    NRResponse:
      type: object
      properties:
        pi:
          type: number
      required:
        - pi
      additionalProperties: false